<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About OTT</h2>
        <p class="lead">We have a large 300 acre woodland area, split into different areas. As well as a number of buildings - some of which have multiple floors - with lots of rooms to clear and places to hide.</p>
        <p class="lead">A number of different teams call OTT home - these include: The Dog Soldiers, The Spartans, The Wolf Legion, The Valley Hawks, The Avengers, The Ardvarks, Alpha Squad, The Gogs and Bangor Airsoft Society.</p>
        <p class="lead">There is free parking available onsite. As well as a shop where you can buy refreshments and army surplus gear.</p>
        <p class="lead">Whether you like outdoor games or close quarter battle, you'll have a great time at OTT!</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
